# Default ignored files
/shelf/
/.idea/workspace.xml
/static/predict/model/variables/variables.data-00000-of-00001
/static/predict/tokenizer.json
/static/train/**
# Editor-based HTTP Client requests
/httpRequests/

/.git

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtualenvs
env/
.cache/v/cache

# Intellij IDEA based IDEs folder
.idea/**

#Unused files
requirements1.txt

/run.py
/.idea/
/app/views.py
