# Default ignored files
/shelf/
/.idea/workspace.xml
/static/predict/**
static/train/**
# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Virtualenvs
env/
.cache/v/cache

# Intellij IDEA based IDEs folder
.idea/**

#Unused files
requirements1.txt

run.py
/app/views.py
